<div class="form-section">
    <div class="contaiiner">
        <div class="row">
            <div class="col-md-8">
                <ul class="nav nav-tabs tab reschedule">
                    <li class="active">
                     <a  id="first" (click)="tabChange('first')"> All Calls 60</a>
                    </li>
                    <li>
                        <a id="second" (click)="tabChange('second')"> Reschedule Student 20</a>
                    </li>
                    <li>
                        <a id="third" (click)="tabChange('third')"> Reschedule Faculty 10</a>
                    </li>
                    <li>
                        <a id="third" (click)="tabChange('four')"> General Queries 30</a>
                    </li>
                </ul>
                
                <div class="tab-content">
               
                      </div>
                      <div class="tab-pane active" *ngIf="id =='second'">
                <h3>Notice the gap between the content and tab after applying a background color</h3>
                      </div>
              <div class="tab-pane active" *ngIf="id =='third'">
                <h3>add clearfix to tab-content (see the css)</h3>
                      </div>
                      <div class="tab-pane active" *ngIf="id =='four'">
                        <h3>No added to tab-content (see the css)</h3>
                              </div>
                  </div>

                  <div class="col-md-4">
                    <div class="tab2">
                        <div><input type="date" ></div>
                      </div>
                  </div>

                  <div class="col-md-12 tab-pane active" *ngIf="id =='first'">
                    <div class="calls-section">
                        <ul>
                          <li>
                            <ul class="inner-list">
                              <li>
                                <h3 class="cl-name">20 SEP '20</h3>
                                <h5 class="types">Call type</h5>
                              </li>
                              <li>
                                <h5 class="types">Call type</h5>
                                <h3 class="cl-name">Reschedule Faculty</h3>
                              </li>
                              <li>
                                <h5 class="types">Call type</h5>
                                <h3 class="cl-name">Reschedule Faculty</h3>
                              </li>
                              <li>
                                <h5 class="types">Call type</h5>
                                <h3 class="cl-name">Reschedule Faculty</h3>
                              </li>
                              <li>
                                <span class="position-relative">
                                  <img src="https://cdn4.iconfinder.com/data/icons/tri-tone-user-interface/27/ui-11-256.png" alt="">
                                  <span>Note</span>
                                  
                                </span>
                              </li>
                            </ul>
                          </li>
                          <li>
                            <ul class="inner-list">
                              <li>
                                <h3 class="cl-name">20 SEP '20</h3>
                                <h5 class="types">Call type</h5>
                              </li>
                              <li>
                                <h5 class="types">Call type</h5>
                                <h3 class="cl-name">Reschedule Faculty</h3>
                              </li>
                              <li>
                                <h5 class="types">Call type</h5>
                                <h3 class="cl-name">Reschedule Faculty</h3>
                              </li>
                              <li>
                                <h5 class="types">Call type</h5>
                                <h3 class="cl-name">Reschedule Faculty</h3>
                              </li>
                              <li>
                                <span class="position-relative">
                                  <img src="https://cdn4.iconfinder.com/data/icons/tri-tone-user-interface/27/ui-11-256.png" alt="">
                                  <span>Note</span>
                                 
                                </span>
                              </li>
                            </ul>
                          </li>
                          <li>
                            <ul class="inner-list">
                              <li>
                                <h3 class="cl-name">20 SEP '20</h3>
                                <h5 class="types">Call type</h5>
                              </li>
                              <li>
                                <h5 class="types">Call type</h5>
                                <h3 class="cl-name">Reschedule Faculty</h3>
                              </li>
                              <li>
                                <h5 class="types">Call type</h5>
                                <h3 class="cl-name">Reschedule Faculty</h3>
                              </li>
                              <li>
                                <h5 class="types">Call type</h5>
                                <h3 class="cl-name">Reschedule Faculty</h3>
                              </li>
                              <li>
                                <span class="position-relative">
                                  <img src="https://cdn4.iconfinder.com/data/icons/tri-tone-user-interface/27/ui-11-256.png" alt="">
                                  <span>Note</span>
                                 
                                </span>
                              </li>
                            </ul>
                          </li> 
                        </ul>
                        
                      </div>
                  </div>
            </div>
        </div>
    </div>

